body    {
    padding: 0rem;
    margin: 0rem;
}
/********************* Header *********************/
.header-container  {
    display: flex;
    border: 3px solid red;
    background-color: green;
    justify-content: space-between;
}
.header-item   {
    border: 3px solid red;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    width: 20rem;
}
.header-item-1 {
    justify-content: flex-start;
    min-width: 20vh;
}
.header-item-2 {
    justify-content: flex-end;
}
li {
    list-style: none;
}

.li-navbar {
    margin: 10px;
}
/********************* main *********************/

#main-container   {
    display: flex;
    background: url("/assets/images/hero-image.jpg") no-repeat center / cover;
    color: whitesmoke;
    align-items: center;
    width: 100%;
    height: 60vh;
    line-height: 1rem;
}
.hero-item {
    display: flex;
    border: 3px solid red;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}
.hero-text  {
    font-size: 4rem;
}
.btn   {
}
#hero-btn   {
    width: 5rem;
    height: 5rem;
}
.carousel-container {
    border: 3px solid red;
    background-color: red;
    display: flex;
    height: 20px;
}
.searchbar-container    {
    border: 3px solid red;
    background-color: green;
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    gap: 3rem;
    margin-left: 20%;
    margin-right: 20%;
}
.search {
    height: 25%;
    width: 15rem;
}
.dropdown   {
    display: inline-flex;
    height: 25%;
}

.dropdown-selection {
    width: 10rem;
    padding-left: 1rem;
}

.searchresults  {
    display: flex;
    background-color: blue;
    border: 3px solid red;
    height: 25rem;

}
.footer-container   {
    border: 3px solid red;
    display: flex;
    height: 15rem;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}
.footer-item    {
    border: 3px solid red;
    display: flex;
    flex-direction: column;
}