
body    {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}
/********************* Header *********************/

.flexbox-container {
    display: flex;
    background-color: green;
}
.flexbox-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    margin-left: 20%;
    margin-right: 20%;
}

.flexbox-item-1 {
}
.flexbox-item-2 {
}

li {
    list-style: none;
}

.li-navbar {
    margin: 10px;
}

/********************* main *********************/

#main-container   {
    display: flex;
    background: url("/assets/images/hero-image.jpg") no-repeat center / cover;
    color: whitesmoke;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.hero-item {
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1rem;
}
.hero-text  {
    font-size: 5rem;
}
.btn   {
}
#hero-btn   {
    width: 400px;
    height: 200px;
}
